
@tailwind base;
@tailwind components;

html,body {
    @apply antialiased font-body;
    /* overflow-x: hidden; */
    max-width: 100%;
    overflow-x: hidden;
}

@tailwind utilities;

.myName{
    width: 100%;
    min-width: 1000px;
    overflow: auto;
}



.translate-y-2full {
    --tw-translate-y: -320%;
    z-index: 10;
    transform: var(--tw-transform);
}
.translate-y-none {
    --tw-translate-y: 0%;
    z-index: 10;
    transform: var(--tw-transform);
}

.myName::before{
    content: 'Abderrahmen Brinis';
    animation-name: switch;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    overflow: hidden;
    animation-iteration-count: infinite;
    @keyframes switch {
        0%{
            @apply text-indigo-600 transform opacity-100 ; 
            content:'Abderrahmen Brinis' ;
        }
        20%{
            @apply  text-indigo-600 transform opacity-100 ; 
            content:'Abderrahmen Brinis' ;
    
        }
        25%{
            @apply  text-indigo-600 transform opacity-0 ; 
            content:'Abderrahmen Brinis';
        }
        30%{
            @apply  text-blue-500 transform opacity-0 ; 
            content:'Web Developer      ';
        }
        35%{
            @apply  text-blue-500 transform opacity-100 ; 
            content:'Web Developer      ' ;
        }
        55%{
            @apply  text-blue-500 transform opacity-100 ; 
            content:'Web Developer      ' ;
        }
        60%{
            @apply  text-blue-500 transform opacity-0 ; 
            content:'Web Developer      ';
        }
        65%{
            @apply  text-green-500 transform opacity-0 ; 
            content:'Full Stack Developer';
        }
        70%{
            @apply  text-green-500 transform opacity-100 ; 
            content:'Full Stack Developer' ;
        }
        90%{
            @apply  text-green-500 transform opacity-100 ; 
            content:'Full Stack Developer' ;
        }
        95%{
            @apply  text-green-500 transform opacity-0 ; 
            content:'Full Stack Developer';
        }
        100%{
            @apply  text-indigo-600 transform opacity-0 ; 
            content:'Abderrahmen Brinis';
        }
    }
}










