
@tailwind base;
@tailwind components;

html {
    @apply antialiased font-body;
}

@tailwind utilities;
.myName{
    width: 100%;
    min-width: 1000px;
    overflow: auto;
    display: block;
}
.myName::before{
    content: 'Abderrahmen Brinis';
    animation-name: switch;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    overflow: hidden;

    animation-iteration-count: infinite;
}
@keyframes switch {
    0%{
        @apply transform opacity-100 ; 
        content:'Abderrahmen Brinis' ;
    }
    20%{
        @apply transform opacity-100 ; 
        content:'Abderrahmen Brinis' ;
    }
    25%{
        @apply transform opacity-0 ; 
        content:'Abderrahmen Brinis';
    }
    30%{
        @apply transform opacity-0 ; 
        content:'Web Developer      ';
    }
    35%{
        @apply transform opacity-100 ; 
        content:'Web Developer      ' ;
    }
    55%{
        @apply transform opacity-100 ; 
        content:'Web Developer      ' ;
    }
    60%{
        @apply transform opacity-0 ; 
        content:'Web Developer      ';
    }
    65%{
        @apply transform opacity-0 ; 
        content:'Full Stack Developer';
    }
    70%{
        @apply transform opacity-100 ; 
        content:'Full Stack Developer' ;
    }
    90%{
        @apply transform opacity-100 ; 
        content:'Full Stack Developer' ;
    }
    95%{
        @apply transform opacity-0 ; 
        content:'Full Stack Developer';
    }
    100%{
        @apply transform opacity-0 ; 
        content:'Abderrahmen Brinis';
    }
}
